
body {
  background-color: #FFE500;
  color: black;
  font-family: sans-serif;
  padding: 20px;
  text-align: center;
}

input, button {
  margin: 5px;
  padding: 10px;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

form {
  margin-top: 20px;
}
